*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

div{
    margin-top: 15px;
}

div .yellow{
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}

div .red{
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: red;
}

div .green{
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: green;
}