*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 15px;
    width: 400px;
    padding: 20px;
}

div{
    padding: 5px 0;
}

input{
    margin-right: 5px;
}

.inputBl{
    background-color: rgba(107, 170, 225, 0.466);
}

.inputAfter{
    border: 2px solid red;
}

button{
    padding: 2px 5px;
}

